---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro'
import Hero from '../web/hero.astro'
import Somos from '../web/somos.astro'
import Servicios from '../web/servicios.astro'
import Cocteles from '../web/cocteles.astro'
import Galeria from '../web/galeria.astro'
import Eventos from '../web/eventos.astro'
import Reservados from '../web/reservados.astro'
import Localizacion from '../web/localizacion.astro'
---

<Layout title="Chalice Club">
    <Nav></Nav>
    <Hero></Hero>
    <Somos></Somos>
    <Servicios></Servicios>
    <Cocteles></Cocteles>
    <Galeria></Galeria>
    <Eventos></Eventos>
    <Reservados></Reservados>
</Layout>

<style>
	
</style>
