---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro'
import Hero from '../web/hero.astro'
import Somos from '../web/somos.astro'
import Servicios from '../web/servicios.astro'
import Cocteles from '../web/cocteles.astro'
import Galeria from '../web/galeria.astro'
import Eventos from '../web/eventos.astro'
import Reservados from '../web/reservados.astro'
import Info from '../web/info.astro'
import Footer from '../web/footer.astro'
---

<Layout title="Chalice Club">
    <div id="inicio"></div>
    <Nav></Nav>
    <Hero></Hero>
    <Somos></Somos>
    <Servicios></Servicios>
    <Cocteles></Cocteles>
    <Galeria></Galeria>
    <Eventos></Eventos>
    <Reservados></Reservados>
    <Info></Info>
    <Footer></Footer>
   
    <!--
     
    
    
    -->
</Layout>

<style>
	
</style>
