---

---

<section class="cocteles" id="cocteles">
    <div class="wrapper cocteles-wrapper">
       <div class="cocteles-content">
            <ul class="cocteles-list">
                <li class="cocteles-item">
                    <h3>Mojitos</h3>
                    <p>clásico, fresa, mango, fruta de la pasión, sandía, melón, jager, olmeca choco, coco, y piña.</p>
                </li>
                <li class="cocteles-item">
                    <h3>Piña Colada</h3>
                    <p></p>
                </li>
                <li class="cocteles-item">
                    <h3>San Francisco</h3>
                    <p></p>
                </li>
                <li class="cocteles-item">
                    <h3>Caipiriña</h3>
                    <p></p>
                </li>
                <li class="cocteles-item">
                    <h3>Amazonas</h3>
                    <p></p>
                </li>
                <li class="cocteles-item">
                    <h3>Daikiris</h3>
                    <p>clásico, fresa, mango, fruta de la pasión, sandía, melón, jager, olmeca choco, coco, y piña.</p>
                </li>
                <li class="cocteles-item">
                    <h3>Limonada</h3>
                    <p></p>
                </li>
                <li class="cocteles-item">
                    <h3>Bloody Mary</h3>
                    <p>Vodka, zumo de tomate, tabasco, sal, pimienta, hielo pilé.</p>
                </li>
                <li class="cocteles-item">
                    <h3>Cocktail Sorpresa</h3>
                    <p></p>
                </li>
            </ul>
            <span class="price">Cócteles con alcohol 8€, cócteles sin alcohol 7€ </span>
       </div>
    </div>
    
</section>

<style>
    .cocteles{
        background-image: url("../../public/imagenes/cocteles.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .cocteles-content{
        padding: 50px 0;
        width: 100%;
        color: rgb(255, 208, 90);
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 290px;
    }

    .cocteles-list{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-content: center;
        gap: 20px;
        align-items: center;
    }

    .cocteles-item{
        list-style: none;
    }

    h3{
        font-size: 30px;
        font-family: "Playfair Display", serif;;
    }   

    p{
        font-size: 15px;
    }

    @media screen and (max-width: 768px){

        .cocteles-content{
            align-items: center;
            padding: 50px 30px;
            gap: 200px;
        }

        .cocteles-list{
            display: flex;
            flex-direction: column;
            align-items:flex-start;
            gap: 35px;
        }
    }

</style>