---

---

<section class="eventos" id="eventos">
    <div class="wrapper eventos-wrapper">
        <div class="eventos-content">
            <h2 class="eventos-tittle">
                ¡¡HAPPY HOUR!!
            </h2>
            <p class="eventos-descripcion">
                De jueves a domingo, precios especiales en cócteles y shishas de 20:00 a 0:00h
            </p>
            <p class="eventos-descripcion">
                Copa de la semana 7€ (Preguntar)
            </p>
        </div>
    </div>
</section>

<style>
    .eventos{
        background-image: url("../../public/imagenes/bg-eventos.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

    .eventos-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        color: white;
        padding: 150px 0;
    }

    .eventos-tittle{
        font-size: 60px;
        font-family: "Playfair Display", serif;;
    }

    .eventos-descripcion{
        font-size: 20px;
    }

    @media screen and (max-width: 768px){
        .eventos{
            text-align: center;
        }
    }

</style>
