---

---


<footer class="footer" id="footer">
        <p>©2018 CHALICE CLUB - DISEÑO WEB JAMDEVE</p>
</footer>

<style>
    
    .footer{
        padding: 50px;
        background-color: rgba(226, 226, 226, 0.993);

    }

    .footer p{
        color: rgb(104, 104, 104);
        text-align: center;
        font-weight: bold;
    }

    @media screen and (max-width: 768px){

    }

</style>