---

---

<script>
    
   
    const wrapper = document.getElementById("galeria-wrapper");

    const galeriaList = document.getElementById("galeria-list");
    const modalContainer = document.getElementById("modal-container");
    const modalImg = document.getElementById("modal-img");
    const modalClose = document.getElementById("modal-close");

    galeriaList.addEventListener("click", (event) => {
        const currentImg = event.target as HTMLElement;
        if (currentImg.tagName === 'IMG') {
            const imgSrc = currentImg.getAttribute('src');
            modalImg.setAttribute('src', imgSrc);
            modalContainer.style.display = 'flex'; // Mostrar el modal
        }
    });

    modalClose.addEventListener("click", () => {
        modalContainer.style.display = 'none'; // Ocultar el modal
    });

    modalContainer.addEventListener("click", (event) => {
        if (event.target === modalContainer) {
            modalContainer.style.display = 'none'; // Ocultar el modal al hacer clic fuera de él
        }
    });

</script>

<section class="galeria" id="galeria">
    <div class="wrapper galeria-wrapper" id="galeria-wrapper">
        <div class="modal-container" id="modal-container">
            <div class="modal">
                <img id="modal-img" src="" alt="">
                <button class="modal-close" id="modal-close">X</button>
            </div>
        </div>
        
        <div class="galeria-content">
            <article class="galeria-article">
                <h2 class="galeria-tittle">Galería</h2>
                <p class="galeria-description">Dicen que una imagen vale más que mil palabras, os mostramos lo que te vas a encontrar cuando vengas a Chalice Club. ¿Te gusta?</p>
            </article>
            <div class="galeria-list" id="galeria-list">
                <a class="galeria-item" href="#!"><img src="/imagenes/galeria/lux-rivas-1_thumb.jpg" alt=""></a>
                <a class="galeria-item" href="#!"><img src="/imagenes/galeria/lux-rivas-2_thumb.jpg" alt=""></a>
                <a class="galeria-item" href="#!"><img src="/imagenes/galeria/lux-rivas-3_thumb.jpg" alt=""></a>
                <a class="galeria-item" href="#!"><img src="/imagenes/galeria/lux-rivas-4_thumb.jpg" alt=""></a>
                <a class="galeria-item" href="#!"><img src="/imagenes/galeria/lux-rivas-5_thumb.jpg" alt=""></a>
                <a class="galeria-item" href="#!"><img src="/imagenes/galeria/lux-rivas-6_thumb.jpg" alt=""></a>
                <a class="galeria-item" href="#!"><img src="/imagenes/galeria/lux-rivas-7_thumb.jpg" alt=""></a>
                <a class="galeria-item" href="#!"><img src="/imagenes/galeria/lux-rivas-8_thumb.jpg" alt=""></a>
                <a class="galeria-item" href="#!"><img src="/imagenes/galeria/lux-rivas-9_thumb.jpg" alt=""></a>
            </div>

        </div>
    </div>
</section>

<style>
    .galeria{
        background-color: white;
    }

    .galeria-wrapper{
        position: relative;
        display: flex;
        align-items: center;

    }

    .modal-container{
        display: none; /* Oculto por defecto */
        justify-content: center;
        align-items: center;
        position: fixed; /* Para asegurar que el modal está siempre visible */
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro semitransparente */
        z-index: 1000; /* Asegúrate de que está por encima de otros elementos */
    }

    .modal{
        position: relative;
        background: white;
        padding: 5px;
        border-radius: 10px;
        overflow: auto; /* Para que se pueda desplazar si el contenido es muy grande */
    }

    .modal-close{
        position: absolute;
        right: 5px;
        width: 30px;
        height: 30px;
        font-weight: bold;
        border-radius: 1px;
        font-size: 20px;
        border: none;
        background-color: white;
        cursor: pointer;
    }

    .modal img{
       width: 500px;
    }

    .galeria-content{
        padding: 50px 20px;
        display: flex;
        gap: 20px;
    }

    .galeria-article{
        flex: 1;
    }

    .galeria-tittle{
        font-family: "Playfair Display", serif;
        font-size: 40px;
        color: rgb(255, 208, 90);
        margin-bottom: 30px;
    }

    .galeria-list{
        flex: 2;
    }

    .galeria-item{
        
    }

    .galeria-item img:hover{
        cursor:zoom-in;
        opacity: 0.7;
        transform: scale(1.05);
    }

    .galeria-item:active{

    }

    .galeria-item img{
        max-width: 32%;
        transition: all 0.4s ease;
    }

    @media screen and (max-width: 768px){
        .galeria-content{
            flex-direction: column;
        }

        .galeria-item img{
            max-width: 45%;
        }

        .modal img{
            width: 300px;
        }
    }

</style>