
---

---

<section class="localizacion">
    <div class="wrapper localizacion-wrapper">
        <div class="localizacion-content">
            <h2 class="localizacion-tittle">LOCALIZACIÓN</h2>
            <div class="map" id="map">

            </div>
        </div>
    </div>
</section>

<style>
    .localizacion{
        background-color: white;
    }

    .localizacion-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px 0;
    }

    .map{
        height: 500px;
        width: 100%;
    }

</style>