---

---

<section class="reservados">
    <div class="wrapper reservados-wrapper">
        <div class="reservados-content">
            <img src="../../public/imagenes/chalice-reservado.jpg" alt="">
            <article class="reservados-article">
                <h2 class="reservados-tittle">Reservados</h2>
                <p class="reservados-description">
                    Disponemos de reservados para grupos, para poder difrutar de estos espacios es necesario ponerse en contacto con los responsables de la sala a través de las diferentes vías. Los reservados tienen mesa y sillones para poder disfrutar de una magnífica noche.
                </p>
            </article>
        </div>
    </div>
</section>

<style>
    .reservados{
        background-color: black;
    }

    .reservados-content{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        padding: 150px 0;
        width: 100%;
    }

    .reservados-article{
        
        width: 40%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        flex: 2;
    }

    .reservados-tittle{
        font-size: 40px;
        font-family: "Playfair Display", serif;
        color: rgb(255, 208, 90);
    }

    .reservados-description{
        color:  white;
    }

    img{
        flex: 1;
        max-width: 50%;
    }

</style>