---

---

<section class="servicios" id="servicios">
    <div class="wrapper servicios-wrapper">
        <div class="servicios-content">
            <h2 class="servicios-tittle" >Servicios</h2>
            <p class="servicios-descripcion">Ofrecemos a todos nuestros clientes</p>
            <ul class="servicios-list">
                <li class="servicios-item">
                    <img class="servicios-imagen" src="../../public/imagenes/servicios-cocktail.jpg" alt="">
                    <h3 class="servicios-nombre">Cocktail Pub</h3>
                    <p class="servicios-parrafo">
                        En Chalice Club disponemos de una sección especial dedicada a los cócteles, preparados en el momento y con el toque necesario para cada uno de ellos.
                    </p>
                </li>
                <li class="servicios-item">
                    <img class="servicios-imagen" src="../../public/imagenes/servicios-premium.jpg" alt="">
                    <h3 class="servicios-nombre">Premium Bar</h3>
                    <p class="servicios-parrafo">
                        Destacamos las más de 150 referencias que tenemos en carta con bebidas premium en ginebras, whiskies, rones y vodkas. También tenemos cava y champange.
                    </p>
                </li>
                <li class="servicios-item">
                    <img class="servicios-imagen" src="../../public/imagenes/servicios-shishas.jpg" alt="">
                    <h3 class="servicios-nombre">Shisha Club</h3>
                    <p class="servicios-parrafo">
                        Shishas de última generación, modernas y funcionales. Tienes diferentes opciones entre la standard o la premium, pudiéndole añadir alcohol si quieres.
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>

<style>
    .servicios{
        background-color: white;
    }

    .servicios-content{
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: center;
        padding: 60px 0px;
    }

    .servicios-tittle{
        font-family: "Playfair Display", serif;
        font-size: 40px;
    }

    .servicios-list{
        display: flex;
        text-align: center;
    }

    .servicios-item{
        list-style: none;
    }

    .servicios-imagen{
        margin: 5px;
        border-radius: 10px;
    }

    .servicios-nombre{
        margin: 5px;
        font-family: "Playfair Display", serif;
        font-size: 25px;
    }

    .servicios-parrafo{
        margin: 10px;
    }

    @media screen and (max-width: 768px) {
        .servicios-list{
            flex-direction: column;
            gap: 20px;
        }
    }
</style>